@using Domain.Bookings
@model Application.Bookings.GetBooking.BookingResponse

@{
    ViewBag.Title = "Reservation Details " + Model.Id;
    Layout = "_Layout";
}
<nav class="flex mb-4" aria-label="Breadcrumb">
    <ol class="inline-flex items-center space-x-1 md:space-x-3">
        <li class="inline-flex items-center">
            <a href="/" class="inline-flex items-center text-sm font-medium text-gray-700 hover:text-blue-600 dark:text-gray-400 dark:hover:text-white">
                <svg class="w-3 h-3 mr-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                    <path d="m19.707 9.293-2-2-7-7a1 1 0 0 0-1.414 0l-7 7-2 2a1 1 0 0 0 1.414 1.414L2 10.414V18a2 2 0 0 0 2 2h3a1 1 0 0 0 1-1v-4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v4a1 1 0 0 0 1 1h3a2 2 0 0 0 2-2v-7.586l.293.293a1 1 0 0 0 1.414-1.414Z"/>
                </svg>
            </a>
        </li>
        <li>
            <div class="flex items-center">
                <svg class="w-3 h-3 text-gray-400 mx-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
                </svg>
                <span class="ml-1 text-sm font-medium text-gray-500 md:ml-2 dark:text-gray-400">General Management</span>
            </div>
        </li>
        <li>
            <div class="flex items-center">
                <svg class="w-3 h-3 text-gray-400 mx-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
                </svg>
                <a href="/booking" class="ml-1 text-sm font-medium text-gray-700 hover:text-blue-600 md:ml-2 dark:text-gray-400 dark:hover:text-white">Reservation List</a>
            </div>
        </li>
        <li>
            <div class="flex items-center">
                <svg class="w-3 h-3 text-gray-400 mx-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
                </svg>
                <a href="/booking/create" class="ml-1 text-sm font-medium text-gray-700 hover:text-blue-600 md:ml-2 dark:text-gray-400 dark:hover:text-white">Add Reservation</a>
            </div>
        </li>
        <li aria-current="page">
            <div class="flex items-center">
                <svg class="w-3 h-3 text-gray-400 mx-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
                </svg>
                <a href="#" class="ml-1 text-sm font-medium text-gray-700 hover:text-blue-600 md:ml-2 dark:text-gray-400 dark:hover:text-white">@Model.BookingCode</a>
            </div>
        </li>
    </ol>
</nav>

<div class="w-full bg-white p-4 rounded-md flex flex-col justify-between">
    <div class="grid grid-cols-12 w-full">
        <div class="col-span-2">
            <div class="w-[64px] h-[64px] bg-black rounded-circle"></div>
        </div>
        <div class="col-span-10">
            <div class="w-full grid grid-cols-12">
                <div class="col-span-6">
                    <strong>Customer Name</strong>
                    <span>@Model.MemberName</span>
                </div>
                <div class="col-span-6">
                    <strong>Booking Time:</strong>
                    <span>@Model.BookingTime.ToString("dd/MM/yyyy - HH:mm")</span>
                </div>
                <div class="col-span-6">
                    <strong>Phone Number:</strong>
                    <span>@Model.PhoneNumber</span>
                </div>
                <div class="col-span-6">
                    <strong>Expected Guests:</strong>
                    <span>@Model.TotalOfPeople</span>
                </div>
                <div class="col-span-6">
                    <strong>At Branch:</strong>
                    <span>@Model.RestaurantName</span>
                </div>
                <div class="col-span-6">
                    <div class="flex items-center gap-2">
                        <strong>Status:</strong>
                        @switch (Model.Status)
                        {
                            case BookingStatus.Reserved:
                                <div class="p-1 rounded-lg bg-slate-100 text-slate-600 flex justify-center items-center w-[100px]">
                                    <span>Reserved</span>
                                </div>
                                break;
                            case BookingStatus.Confirmed:
                                <div class="p-1 rounded-lg bg-blue-100 text-blue-600 flex justify-center items-center w-[100px]">
                                    <span>Processing</span>
                                </div>
                                break;
                            case BookingStatus.Cancelled:
                                <div class="p-1 rounded-lg bg-red-100 text-red-600 flex justify-center items-center w-[100px]">
                                    <span>Cancelled</span>
                                </div>
                                break;
                            case BookingStatus.Completed:
                                <div class="p-1 rounded-lg bg-green-100 text-green-600 flex justify-center items-center w-[100px]">
                                    <span>Completed</span>
                                </div>
                                break;
                            case BookingStatus.Rejected:
                                <div class="p-1 rounded-lg bg-yellow-100 text-yellow-600 flex justify-center items-center w-[100px]">
                                    <span>Rejected</span>
                                </div>
                                break;
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="w-full mt-4 flex justify-content-end">
        @if (Model.Status != BookingStatus.Completed && Model.Status != BookingStatus.Rejected)
        {
            <a type="button" data-modal-target="popup-modal" data-modal-toggle="popup-modal" class="inline-block rounded bg-indigo-600 px-4 py-1 px-2 text-sm font-medium text-white transition hover:scale-110 hover:shadow-xl focus:outline-none focus:ring active:bg-indigo-500">
                Update Reservation Status
            </a>
        }
        <div id="popup-modal" tabindex="-1" class="z-50 hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
            <div class="relative w-full max-w-md max-h-full">
                <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                    <button type="button" class="absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ml-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="popup-modal">
                        <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                        </svg>
                        <span class="sr-only">Close modal</span>
                    </button>
                    <div class="p-6 text-center">
                        <h3 class="text-lg font-normal text-gray-500 dark:text-gray-400 text-wrap mb-5">
                            Update Reservation Status
                        </h3>

                        <div class="mb-5">
                            <label for="statusSelect" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white text-left">Order Status</label>
                            <select id="statusSelect" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                                @if (Model.Status != BookingStatus.Confirmed)
                                {
                                    <option value="@((int)BookingStatus.Confirmed)">Processing</option>
                                }

                                <option value="@((int)BookingStatus.Completed)">
                                    Completed
                                </option>
                                <option value="@((int)BookingStatus.Rejected)">
                                    Rejected
                                </option>
                            </select>
                        </div>
                        <div class="w-full flex gap-2 justify-center items-center">
                            <button onclick="updateStatus()" class="text-white bg-blue-500  hover:bg-blue-600 focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 font-medium rounded-lg text-sm inline-flex items-center px-5 py-2.5 text-center mr-2">
                                Save
                            </button>
                            <button data-modal-hide="popup-modal" class="text-white bg-red-600 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 font-medium rounded-lg text-sm inline-flex items-center px-5 py-2.5 text-center mr-2">
                                Cancel
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="min-height: 300px" class="w-full bg-white p-4 rounded-md flex flex-col justify-between mt-4 relative">
        @if (Model.LineItemResponses == null || !Model.LineItemResponses.Any())
        {
            <div class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2">
                <h1 class="text-black font-semibold text-xl">No Pre-ordered Dishes</h1>
            </div>
        }

        <table class="min-w-full divide-y-2 divide-gray-200 text-sm">
            <thead class="ltr:text-left rtl:text-right bg-[#F4F7FC]">
            <tr>
                <th class="whitespace-nowrap px-4 py-2 font-medium text-black text-center">
                    No
                </th>
                <th class="whitespace-nowrap px-4 py-2 font-medium text-black">
                    Dish
                </th>
                <th class="whitespace-nowrap px-4 py-2 font-medium text-black text-right">
                    Price
                </th>
                <th class="whitespace-nowrap px-4 py-2 font-medium text-black text-center">
                    Quantity
                </th>
                <th class="whitespace-nowrap px-4 py-2 font-medium text-black text-left">
                    Notes
                </th>
                <th class="whitespace-nowrap px-4 py-2 font-medium text-black text-right">
                    Total
                </th>
            </tr>
            </thead>

            <tbody class="divide-y divide-gray-200">

            @if (Model.LineItemResponses != null)
            {
                @foreach (var v in Model.LineItemResponses.Select((val, index) => new { val, index = index + 1 }))
                {
                    <tr class="my-2 py-4">
                        <td class="whitespace-nowrap px-4 py-2 text-gray-900 text-center">
                            @v.index.ToString()
                        </td>
                        <td class="whitespace-nowrap px-4 py-2 text-blue-600 text-left cursor-pointer">
                            @v.val.ProductName
                        </td>
                        <td class="whitespace-nowrap px-4 py-2 text-gray-900 text-right">
                            @v.val.PriceDisplay
                        </td>
                        <td class="whitespace-nowrap px-4 py-2 text-gray-900 text-left text-center">
                            @v.val.Quantity
                        </td>
                        <td class="whitespace-nowrap px-4 py-2 text-gray-900 text-left">
                            @v.val.Note
                        </td>
                        <td class="whitespace-nowrap px-4 py-2 text-gray-900 text-right">
                            @v.val.TotalPriceDisplay
                        </td>
                    </tr>
                }
            }
            </tbody>
        </table>
    </div>
</div>
@*@if (Model.Status == BookingStatus.Reserved)
{
    <div class="w-full flex justify-content-end items-center mt-3">
        <button onclick="updateBookingStatus(@((int)BookingStatus.Rejected), @Model.IdWrapped)" class="bg-red-500 px-2 py-1 rounded-xl mr-1">
            <div class="flex justify-center items-center">
                <svg width="11" height="12" viewBox="0 0 11 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M4 4.75V9.25C4 9.32292 3.97656 9.38281 3.92969 9.42969C3.88281 9.47656 3.82292 9.5 3.75 9.5H3.25C3.17708 9.5 3.11719 9.47656 3.07031 9.42969C3.02344 9.38281 3 9.32292 3 9.25V4.75C3 4.67708 3.02344 4.61719 3.07031 4.57031C3.11719 4.52344 3.17708 4.5 3.25 4.5H3.75C3.82292 4.5 3.88281 4.52344 3.92969 4.57031C3.97656 4.61719 4 4.67708 4 4.75ZM6 4.75V9.25C6 9.32292 5.97656 9.38281 5.92969 9.42969C5.88281 9.47656 5.82292 9.5 5.75 9.5H5.25C5.17708 9.5 5.11719 9.47656 5.07031 9.42969C5.02344 9.38281 5 9.32292 5 9.25V4.75C5 4.67708 5.02344 4.61719 5.07031 4.57031C5.11719 4.52344 5.17708 4.5 5.25 4.5H5.75C5.82292 4.5 5.88281 4.52344 5.92969 4.57031C5.97656 4.61719 6 4.67708 6 4.75ZM8 4.75V9.25C8 9.32292 7.97656 9.38281 7.92969 9.42969C7.88281 9.47656 7.82292 9.5 7.75 9.5H7.25C7.17708 9.5 7.11719 9.47656 7.07031 9.42969C7.02344 9.38281 7 9.32292 7 9.25V4.75C7 4.67708 7.02344 4.61719 7.07031 4.57031C7.11719 4.52344 7.17708 4.5 7.25 4.5H7.75C7.82292 4.5 7.88281 4.52344 7.92969 4.57031C7.97656 4.61719 8 4.67708 8 4.75ZM9 10.4062V3H2V10.4062C2 10.5208 2.01823 10.6276 2.05469 10.7266C2.09115 10.8203 2.1276 10.8906 2.16406 10.9375C2.20573 10.9792 2.23438 11 2.25 11H8.75C8.76563 11 8.79167 10.9792 8.82813 10.9375C8.86979 10.8906 8.90885 10.8203 8.94531 10.7266C8.98177 10.6276 9 10.5208 9 10.4062ZM3.75 2H7.25L6.875 1.08594C6.83854 1.03906 6.79427 1.01042 6.74219 1H4.26562C4.21354 1.01042 4.16927 1.03906 4.13281 1.08594L3.75 2ZM11 2.25V2.75C11 2.82292 10.9766 2.88281 10.9297 2.92969C10.8828 2.97656 10.8229 3 10.75 3H10V10.4062C10 10.8385 9.8776 11.2109 9.63281 11.5234C9.38802 11.8411 9.09375 12 8.75 12H2.25C1.90625 12 1.61198 11.8464 1.36719 11.5391C1.1224 11.237 1 10.8698 1 10.4375V3H0.25C0.177083 3 0.117188 2.97656 0.0703125 2.92969C0.0234375 2.88281 0 2.82292 0 2.75V2.25C0 2.17708 0.0234375 2.11719 0.0703125 2.07031C0.117188 2.02344 0.177083 2 0.25 2H2.66406L3.21094 0.695312C3.28906 0.502604 3.42969 0.338541 3.63281 0.203125C3.83594 0.0677079 4.04167 -5.96046e-07 4.25 -5.96046e-07H6.75C6.95833 -5.96046e-07 7.16406 0.0677079 7.36719 0.203125C7.57031 0.338541 7.71094 0.502604 7.78906 0.695312L8.33594 2H10.75C10.8229 2 10.8828 2.02344 10.9297 2.07031C10.9766 2.11719 11 2.17708 11 2.25Z" fill="white"/>
                </svg>
                <span class="mx-1 text-white">Reject</span>
            </div>
        </button>
        <button onclick="updateBookingStatus(@((int)BookingStatus.Confirmed), @Model.IdWrapped)" class="bg-green-500 px-2 py-1 rounded-xl ml-1">
            <div class="flex justify-center items-center">
                <svg width="11" height="12" viewBox="0 0 11 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M4 4.75V9.25C4 9.32292 3.97656 9.38281 3.92969 9.42969C3.88281 9.47656 3.82292 9.5 3.75 9.5H3.25C3.17708 9.5 3.11719 9.47656 3.07031 9.42969C3.02344 9.38281 3 9.32292 3 9.25V4.75C3 4.67708 3.02344 4.61719 3.07031 4.57031C3.11719 4.52344 3.17708 4.5 3.25 4.5H3.75C3.82292 4.5 3.88281 4.52344 3.92969 4.57031C3.97656 4.61719 4 4.67708 4 4.75ZM6 4.75V9.25C6 9.32292 5.97656 9.38281 5.92969 9.42969C5.88281 9.47656 5.82292 9.5 5.75 9.5H5.25C5.17708 9.5 5.11719 9.47656 5.07031 9.42969C5.02344 9.38281 5 9.32292 5 9.25V4.75C5 4.67708 5.02344 4.61719 5.07031 4.57031C5.11719 4.52344 5.17708 4.5 5.25 4.5H5.75C5.82292 4.5 5.88281 4.52344 5.92969 4.57031C5.97656 4.61719 6 4.67708 6 4.75ZM8 4.75V9.25C8 9.32292 7.97656 9.38281 7.92969 9.42969C7.88281 9.47656 7.82292 9.5 7.75 9.5H7.25C7.17708 9.5 7.11719 9.47656 7.07031 9.42969C7.02344 9.38281 7 9.32292 7 9.25V4.75C7 4.67708 7.02344 4.61719 7.07031 4.57031C7.11719 4.52344 7.17708 4.5 7.25 4.5H7.75C7.82292 4.5 7.88281 4.52344 7.92969 4.57031C7.97656 4.61719 8 4.67708 8 4.75ZM9 10.4062V3H2V10.4062C2 10.5208 2.01823 10.6276 2.05469 10.7266C2.09115 10.8203 2.1276 10.8906 2.16406 10.9375C2.20573 10.9792 2.23438 11 2.25 11H8.75C8.76563 11 8.79167 10.9792 8.82813 10.9375C8.86979 10.8906 8.90885 10.8203 8.94531 10.7266C8.98177 10.6276 9 10.5208 9 10.4062ZM3.75 2H7.25L6.875 1.08594C6.83854 1.03906 6.79427 1.01042 6.74219 1H4.26562C4.21354 1.01042 4.16927 1.03906 4.13281 1.08594L3.75 2ZM11 2.25V2.75C11 2.82292 10.9766 2.88281 10.9297 2.92969C10.8828 2.97656 10.8229 3 10.75 3H10V10.4062C10 10.8385 9.8776 11.2109 9.63281 11.5234C9.38802 11.8411 9.09375 12 8.75 12H2.25C1.90625 12 1.61198 11.8464 1.36719 11.5391C1.1224 11.237 1 10.8698 1 10.4375V3H0.25C0.177083 3 0.117188 2.97656 0.0703125 2.92969C0.0234375 2.88281 0 2.82292 0 2.75V2.25C0 2.17708 0.0234375 2.11719 0.0703125 2.07031C0.117188 2.02344 0.177083 2 0.25 2H2.66406L3.21094 0.695312C3.28906 0.502604 3.42969 0.338541 3.63281 0.203125C3.83594 0.0677079 4.04167 -5.96046e-07 4.25 -5.96046e-07H6.75C6.95833 -5.96046e-07 7.16406 0.0677079 7.36719 0.203125C7.57031 0.338541 7.71094 0.502604 7.78906 0.695312L8.33594 2H10.75C10.8229 2 10.8828 2.02344 10.9297 2.07031C10.9766 2.11719 11 2.17708 11 2.25Z" fill="white"/>
                </svg>
                <span class="mx-1 text-white">Xác nhận</span>
            </div>
        </button>
    </div>
}
@if (Model.Status == BookingStatus.Confirmed)
{
    <div class="w-full flex justify-content-end items-center mt-3">
        <button onclick="updateBookingStatus(@((int)BookingStatus.Cancelled), @Model.IdWrapped)" class="bg-red-500 px-2 py-1 rounded-xl mr-1">
            <div class="flex justify-center items-center">
                <svg width="11" height="12" viewBox="0 0 11 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M4 4.75V9.25C4 9.32292 3.97656 9.38281 3.92969 9.42969C3.88281 9.47656 3.82292 9.5 3.75 9.5H3.25C3.17708 9.5 3.11719 9.47656 3.07031 9.42969C3.02344 9.38281 3 9.32292 3 9.25V4.75C3 4.67708 3.02344 4.61719 3.07031 4.57031C3.11719 4.52344 3.17708 4.5 3.25 4.5H3.75C3.82292 4.5 3.88281 4.52344 3.92969 4.57031C3.97656 4.61719 4 4.67708 4 4.75ZM6 4.75V9.25C6 9.32292 5.97656 9.38281 5.92969 9.42969C5.88281 9.47656 5.82292 9.5 5.75 9.5H5.25C5.17708 9.5 5.11719 9.47656 5.07031 9.42969C5.02344 9.38281 5 9.32292 5 9.25V4.75C5 4.67708 5.02344 4.61719 5.07031 4.57031C5.11719 4.52344 5.17708 4.5 5.25 4.5H5.75C5.82292 4.5 5.88281 4.52344 5.92969 4.57031C5.97656 4.61719 6 4.67708 6 4.75ZM8 4.75V9.25C8 9.32292 7.97656 9.38281 7.92969 9.42969C7.88281 9.47656 7.82292 9.5 7.75 9.5H7.25C7.17708 9.5 7.11719 9.47656 7.07031 9.42969C7.02344 9.38281 7 9.32292 7 9.25V4.75C7 4.67708 7.02344 4.61719 7.07031 4.57031C7.11719 4.52344 7.17708 4.5 7.25 4.5H7.75C7.82292 4.5 7.88281 4.52344 7.92969 4.57031C7.97656 4.61719 8 4.67708 8 4.75ZM9 10.4062V3H2V10.4062C2 10.5208 2.01823 10.6276 2.05469 10.7266C2.09115 10.8203 2.1276 10.8906 2.16406 10.9375C2.20573 10.9792 2.23438 11 2.25 11H8.75C8.76563 11 8.79167 10.9792 8.82813 10.9375C8.86979 10.8906 8.90885 10.8203 8.94531 10.7266C8.98177 10.6276 9 10.5208 9 10.4062ZM3.75 2H7.25L6.875 1.08594C6.83854 1.03906 6.79427 1.01042 6.74219 1H4.26562C4.21354 1.01042 4.16927 1.03906 4.13281 1.08594L3.75 2ZM11 2.25V2.75C11 2.82292 10.9766 2.88281 10.9297 2.92969C10.8828 2.97656 10.8229 3 10.75 3H10V10.4062C10 10.8385 9.8776 11.2109 9.63281 11.5234C9.38802 11.8411 9.09375 12 8.75 12H2.25C1.90625 12 1.61198 11.8464 1.36719 11.5391C1.1224 11.237 1 10.8698 1 10.4375V3H0.25C0.177083 3 0.117188 2.97656 0.0703125 2.92969C0.0234375 2.88281 0 2.82292 0 2.75V2.25C0 2.17708 0.0234375 2.11719 0.0703125 2.07031C0.117188 2.02344 0.177083 2 0.25 2H2.66406L3.21094 0.695312C3.28906 0.502604 3.42969 0.338541 3.63281 0.203125C3.83594 0.0677079 4.04167 -5.96046e-07 4.25 -5.96046e-07H6.75C6.95833 -5.96046e-07 7.16406 0.0677079 7.36719 0.203125C7.57031 0.338541 7.71094 0.502604 7.78906 0.695312L8.33594 2H10.75C10.8229 2 10.8828 2.02344 10.9297 2.07031C10.9766 2.11719 11 2.17708 11 2.25Z" fill="white"/>
                </svg>
                <span class="mx-1 text-white">Cancel</span>
            </div>
        </button>
        <button onclick="updateBookingStatus(@((int)BookingStatus.Completed), @Model.IdWrapped)" class="bg-green-500 px-2 py-1 rounded-xl ml-1">
            <div class="flex justify-center items-center">
                <svg width="11" height="12" viewBox="0 0 11 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M4 4.75V9.25C4 9.32292 3.97656 9.38281 3.92969 9.42969C3.88281 9.47656 3.82292 9.5 3.75 9.5H3.25C3.17708 9.5 3.11719 9.47656 3.07031 9.42969C3.02344 9.38281 3 9.32292 3 9.25V4.75C3 4.67708 3.02344 4.61719 3.07031 4.57031C3.11719 4.52344 3.17708 4.5 3.25 4.5H3.75C3.82292 4.5 3.88281 4.52344 3.92969 4.57031C3.97656 4.61719 4 4.67708 4 4.75ZM6 4.75V9.25C6 9.32292 5.97656 9.38281 5.92969 9.42969C5.88281 9.47656 5.82292 9.5 5.75 9.5H5.25C5.17708 9.5 5.11719 9.47656 5.07031 9.42969C5.02344 9.38281 5 9.32292 5 9.25V4.75C5 4.67708 5.02344 4.61719 5.07031 4.57031C5.11719 4.52344 5.17708 4.5 5.25 4.5H5.75C5.82292 4.5 5.88281 4.52344 5.92969 4.57031C5.97656 4.61719 6 4.67708 6 4.75ZM8 4.75V9.25C8 9.32292 7.97656 9.38281 7.92969 9.42969C7.88281 9.47656 7.82292 9.5 7.75 9.5H7.25C7.17708 9.5 7.11719 9.47656 7.07031 9.42969C7.02344 9.38281 7 9.32292 7 9.25V4.75C7 4.67708 7.02344 4.61719 7.07031 4.57031C7.11719 4.52344 7.17708 4.5 7.25 4.5H7.75C7.82292 4.5 7.88281 4.52344 7.92969 4.57031C7.97656 4.61719 8 4.67708 8 4.75ZM9 10.4062V3H2V10.4062C2 10.5208 2.01823 10.6276 2.05469 10.7266C2.09115 10.8203 2.1276 10.8906 2.16406 10.9375C2.20573 10.9792 2.23438 11 2.25 11H8.75C8.76563 11 8.79167 10.9792 8.82813 10.9375C8.86979 10.8906 8.90885 10.8203 8.94531 10.7266C8.98177 10.6276 9 10.5208 9 10.4062ZM3.75 2H7.25L6.875 1.08594C6.83854 1.03906 6.79427 1.01042 6.74219 1H4.26562C4.21354 1.01042 4.16927 1.03906 4.13281 1.08594L3.75 2ZM11 2.25V2.75C11 2.82292 10.9766 2.88281 10.9297 2.92969C10.8828 2.97656 10.8229 3 10.75 3H10V10.4062C10 10.8385 9.8776 11.2109 9.63281 11.5234C9.38802 11.8411 9.09375 12 8.75 12H2.25C1.90625 12 1.61198 11.8464 1.36719 11.5391C1.1224 11.237 1 10.8698 1 10.4375V3H0.25C0.177083 3 0.117188 2.97656 0.0703125 2.92969C0.0234375 2.88281 0 2.82292 0 2.75V2.25C0 2.17708 0.0234375 2.11719 0.0703125 2.07031C0.117188 2.02344 0.177083 2 0.25 2H2.66406L3.21094 0.695312C3.28906 0.502604 3.42969 0.338541 3.63281 0.203125C3.83594 0.0677079 4.04167 -5.96046e-07 4.25 -5.96046e-07H6.75C6.95833 -5.96046e-07 7.16406 0.0677079 7.36719 0.203125C7.57031 0.338541 7.71094 0.502604 7.78906 0.695312L8.33594 2H10.75C10.8229 2 10.8828 2.02344 10.9297 2.07031C10.9766 2.11719 11 2.17708 11 2.25Z" fill="white"/>
                </svg>
                <span class="mx-1 text-white">Completed</span>
            </div>
        </button>
    </div>
}*@

@section Scripts
{
    <script>
    
    const loadingBookingOverlay = $('#loadingOverlay');
    loadingBookingOverlay.hide();
    function updateStatus(){
        const bookingId = '@Model.Id'
        const status = $('#statusSelect').val()
        if (!bookingId){
            return;
        }
        
        const toastContainer = $('#toast-container')
        
        loadingBookingOverlay.show();
        
        
        $.ajax({
            type: "POST",
            url: `/Booking/UpdateBookingStatus/`,
            data: {
                status,
                bookingId
            },
            dataType: 'multipart/form-data',
            success: function () {
                showToast('Update Successful')
                loadingBookingOverlay.hide();
                location.reload();
            },error: function (error){
                if (error.status === 200){
                        showToast('Update Successful')
                    setTimeout(() => {
                        loadingBookingOverlay.hide();
                        location.reload()
                    }, 2000)
                }else{
                    loadingBookingOverlay.hide();
                    showToast('Update failed: ' + error.message, false)
                }
            }
        })
    }
    </script>
}