@model Application.Partners.GetAllPaged.GetAllPartnerPagedResponse

@{
    ViewBag.Title = "List of partners";
  Layout = "_Layout";
}

<div class="w-full">
  <div class="w-full flex flex-col">
    <nav class="flex" aria-label="Breadcrumb">
      <ol class="inline-flex items-center space-x-1 md:space-x-3">
        <li class="inline-flex items-center">
          <a href="/" class="inline-flex items-center text-sm font-medium text-gray-700 hover:text-blue-600 dark:text-gray-400 dark:hover:text-white">
            <svg class="w-3 h-3 mr-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
              <path d="m19.707 9.293-2-2-7-7a1 1 0 0 0-1.414 0l-7 7-2 2a1 1 0 0 0 1.414 1.414L2 10.414V18a2 2 0 0 0 2 2h3a1 1 0 0 0 1-1v-4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v4a1 1 0 0 0 1 1h3a2 2 0 0 0 2-2v-7.586l.293.293a1 1 0 0 0 1.414-1.414Z"/>
            </svg>
          </a>
        </li>
        <li>
          <div class="flex items-center">
            <svg class="w-3 h-3 text-gray-400 mx-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
            </svg>
            <span class="ml-1 text-sm font-medium text-gray-500 md:ml-2 dark:text-gray-400">Account</span>
          </div>
        </li>
        <li aria-current="page">
          <div class="flex items-center">
            <svg class="w-3 h-3 text-gray-400 mx-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
            </svg>
            <a href="#" class="ml-1 text-sm font-medium text-gray-700 hover:text-blue-600 md:ml-2 dark:text-gray-400 dark:hover:text-white">Partners</a>
          </div>
        </li>
      </ol>
    </nav>
    <div class="w-full d-flex justify-content-end py-2">
      <a href="@Url.Action("ManagePartnerView", "Partner")" type="button"
         class="inline-block rounded bg-indigo-600 px-4 py-1 px-2 text-sm font-medium text-white transition hover:scale-110 hover:shadow-xl focus:outline-none focus:ring active:bg-indigo-500">
        Add Partner
      </a>
    </div>
    <div style="min-height: 543px" class="bg-white w-full p-3 rounded-lg">

      <div class="overflow-x-auto w-full h-full overflow-y-auto">
        <table class="min-w-full divide-y-2 divide-gray-200 text-sm">
          <thead class="ltr:text-left rtl:text-right bg-[#F4F7FC]">
          <tr>
            <th class="whitespace-nowrap px-4 py-2 font-medium text-black text-center">
              NO
            </th>
            <th class="whitespace-nowrap px-4 py-2 font-medium text-black text-center">
              QR CODE
            </th>
            <th class="whitespace-nowrap px-4 py-2 font-medium text-black">
              Partner Name
            </th>
            <th class="whitespace-nowrap px-4 py-2 font-medium text-black">
              Address
            </th>
            <th class="whitespace-nowrap px-4 py-2 font-medium text-black">
              Phone Number
            </th>
            <th class="whitespace-nowrap px-4 py-2 font-medium text-black">
              Vouchers
            </th>
            <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">
              Update
            </th>
          </tr>
          </thead>

          <tbody class="divide-y divide-gray-200">

          @foreach (var p in Model.Data.Select((val, index) => new { val, index = index + 1 }))
          {
            <tr class="my-2 py-4">
              <td class="whitespace-nowrap px-4 py-2 font-medium text-gray-900 text-center">
                <strong>@p.index.ToString()</strong>
              </td>
              <td class="whitespace-nowrap px-4 py-2 text-gray-700">
                <div id="partner-qrcode-@p.val.QrCodeId"></div>
                @*@if (string.IsNullOrEmpty(p.val.ImageUrl))
                                {
                                    <span class="font-semibold text-blue-500 cursor-pointer">
                                        @Html.ActionLink("Tạo lại QR Code", "ReGenerateQrCode", "Partner", new { id = p.val.Id })
                                    </span>
                                }
                                else
                                {
                                    <img class="h-auto max-w-[64px]" src="@p.val.ImageUrl" alt="image description">
                                }*@
              </td>
              <td class="whitespace-nowrap px-4 py-2 text-blue-600 text-left">
                @p.val.PartnerName
              </td>
              <td class="whitespace-nowrap px-4 py-2 text-gray-900 text-left">
                @p.val.Address
              </td>
              <td class="whitespace-nowrap px-4 py-2 text-gray-700 text-left">
                @p.val.PhoneNumber
              </td>
              <td class="whitespace-nowrap px-4 py-2 text-gray-700 text-left">
                <div onclick="location.href='@Url.Action("Index", "Voucher", new { partnerId = p.val.Id })'" class="mx-1 flex justify-center items-center cursor-pointer">
                  <svg width="20" height="16" viewBox="0 0 20 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M14.8571 14.8571V5.14286C14.8571 5.06548 14.8274 5 14.7679 4.94643C14.7143 4.8869 14.6488 4.85714 14.5714 4.85714H4.85714C4.77976 4.85714 4.71131 4.8869 4.65179 4.94643C4.59821 5 4.57143 5.06548 4.57143 5.14286V14.8571C4.57143 14.9345 4.59821 15 4.65179 15.0536C4.71131 15.1131 4.77976 15.1429 4.85714 15.1429H14.5714C14.6488 15.1429 14.7143 15.1131 14.7679 15.0536C14.8274 15 14.8571 14.9345 14.8571 14.8571ZM16 5.14286V14.8571C16 15.25 15.8601 15.5863 15.5804 15.8661C15.3006 16.1458 14.9643 16.2857 14.5714 16.2857H4.85714C4.46429 16.2857 4.12798 16.1458 3.84821 15.8661C3.56845 15.5863 3.42857 15.25 3.42857 14.8571V5.14286C3.42857 4.75 3.56845 4.41369 3.84821 4.13393C4.12798 3.85417 4.46429 3.71428 4.85714 3.71428H14.5714C14.9643 3.71428 15.3006 3.85417 15.5804 4.13393C15.8601 4.41369 16 4.75 16 5.14286ZM12.5714 1.71428V3.14286H11.4286V1.71428C11.4286 1.6369 11.3988 1.57143 11.3393 1.51786C11.2857 1.45833 11.2202 1.42857 11.1429 1.42857H1.42857C1.35119 1.42857 1.28274 1.45833 1.22321 1.51786C1.16964 1.57143 1.14286 1.6369 1.14286 1.71428V11.4286C1.14286 11.506 1.16964 11.5744 1.22321 11.6339C1.28274 11.6875 1.35119 11.7143 1.42857 11.7143H2.85714V12.8571H1.42857C1.03571 12.8571 0.699405 12.7173 0.419643 12.4375C0.139881 12.1577 0 11.8214 0 11.4286V1.71428C0 1.32143 0.139881 0.985118 0.419643 0.705357C0.699405 0.425594 1.03571 0.285713 1.42857 0.285713H11.1429C11.5357 0.285713 11.872 0.425594 12.1518 0.705357C12.4315 0.985118 12.5714 1.32143 12.5714 1.71428Z" fill="#3059EC"/>
                  </svg>
                  <a class="font-medium text-md mx-2 text-blue-600 dark:text-blue-500">List</a>
                </div>
              </td>
              <td class="whitespace-nowrap px-4 py-2 text-gray-700">
                <div class="flex">
                  <div onclick="location.href='@Url.Action("ManagePartnerView", "Partner", new { id = p.val.Id })'" class="mx-1 flex justify-center items-center cursor-pointer">
                    <svg width="20" height="16" viewBox="0 0 20 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M9.91071 12.0714L11.2054 10.7768L9.50893 9.08036L8.21429 10.375V11H9.28571V12.0714H9.91071ZM14.8103 4.40402C14.9368 4.27753 14.9405 4.15476 14.8214 4.03571C14.7024 3.91667 14.5796 3.92039 14.4531 4.04688L10.5469 7.95312C10.4204 8.07961 10.4167 8.20238 10.5357 8.32143C10.6548 8.44048 10.7775 8.43676 10.904 8.31027L14.8103 4.40402ZM15.7143 10.6652V12.7857C15.7143 13.6711 15.3981 14.4301 14.7656 15.0625C14.1406 15.6875 13.3854 16 12.5 16H3.21429C2.32887 16 1.56994 15.6875 0.9375 15.0625C0.3125 14.4301 0 13.6711 0 12.7857V3.5C0 2.61458 0.3125 1.85937 0.9375 1.23437C1.56994 0.601934 2.32887 0.285713 3.21429 0.285713H12.5C12.9688 0.285713 13.404 0.378719 13.8058 0.564731C13.9174 0.616814 13.9844 0.70238 14.0067 0.821428C14.029 0.947916 13.9955 1.0558 13.9063 1.14509L13.3594 1.69196C13.2552 1.79613 13.1362 1.82589 13.0022 1.78125C12.8311 1.73661 12.6637 1.71429 12.5 1.71429H3.21429C2.72321 1.71429 2.30283 1.88914 1.95313 2.23884C1.60342 2.58854 1.42857 3.00893 1.42857 3.5V12.7857C1.42857 13.2768 1.60342 13.6972 1.95313 14.0469C2.30283 14.3966 2.72321 14.5714 3.21429 14.5714H12.5C12.9911 14.5714 13.4115 14.3966 13.7612 14.0469C14.1109 13.6972 14.2857 13.2768 14.2857 12.7857V11.3795C14.2857 11.2827 14.3192 11.2009 14.3862 11.1339L15.1004 10.4196C15.2121 10.308 15.3423 10.282 15.4911 10.3415C15.6399 10.401 15.7143 10.5089 15.7143 10.6652ZM14.6429 2.42857L17.8571 5.64286L10.3571 13.1429H7.14286V9.92857L14.6429 2.42857ZM19.5982 3.90179L18.5714 4.92857L15.3571 1.71429L16.3839 0.687499C16.5923 0.479165 16.8452 0.374999 17.1429 0.374999C17.4405 0.374999 17.6935 0.479165 17.9018 0.687499L19.5982 2.38393C19.8065 2.59226 19.9107 2.84524 19.9107 3.14286C19.9107 3.44048 19.8065 3.69345 19.5982 3.90179Z" fill="#3059EC"/>
                    </svg>
                    <a class="font-medium text-md mx-2 text-blue-600 dark:text-blue-500">Update</a>
                  </div>
                  <div data-modal-target="confirmDelete-@p.val.Id" data-modal-toggle="confirmDelete-@p.val.Id" class="mx-1 flex justify-center items-center cursor-pointer">
                    <svg width="16" height="18" viewBox="0 0 16 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M5.71429 7.07143V13.5C5.71429 13.6042 5.6808 13.6897 5.61384 13.7567C5.54688 13.8237 5.46131 13.8571 5.35714 13.8571H4.64286C4.53869 13.8571 4.45313 13.8237 4.38616 13.7567C4.3192 13.6897 4.28571 13.6042 4.28571 13.5V7.07143C4.28571 6.96726 4.3192 6.8817 4.38616 6.81473C4.45313 6.74777 4.53869 6.71429 4.64286 6.71429H5.35714C5.46131 6.71429 5.54688 6.74777 5.61384 6.81473C5.6808 6.8817 5.71429 6.96726 5.71429 7.07143ZM8.57143 7.07143V13.5C8.57143 13.6042 8.53795 13.6897 8.47098 13.7567C8.40402 13.8237 8.31845 13.8571 8.21429 13.8571H7.5C7.39583 13.8571 7.31027 13.8237 7.2433 13.7567C7.17634 13.6897 7.14286 13.6042 7.14286 13.5V7.07143C7.14286 6.96726 7.17634 6.8817 7.2433 6.81473C7.31027 6.74777 7.39583 6.71429 7.5 6.71429H8.21429C8.31845 6.71429 8.40402 6.74777 8.47098 6.81473C8.53795 6.8817 8.57143 6.96726 8.57143 7.07143ZM11.4286 7.07143V13.5C11.4286 13.6042 11.3951 13.6897 11.3281 13.7567C11.2612 13.8237 11.1756 13.8571 11.0714 13.8571H10.3571C10.253 13.8571 10.1674 13.8237 10.1004 13.7567C10.0335 13.6897 10 13.6042 10 13.5V7.07143C10 6.96726 10.0335 6.8817 10.1004 6.81473C10.1674 6.74777 10.253 6.71429 10.3571 6.71429H11.0714C11.1756 6.71429 11.2612 6.74777 11.3281 6.81473C11.3951 6.8817 11.4286 6.96726 11.4286 7.07143ZM12.8571 15.1518V4.57143H2.85714V15.1518C2.85714 15.3155 2.88318 15.468 2.93527 15.6094C2.98735 15.7433 3.03943 15.8437 3.09152 15.9107C3.15104 15.9702 3.19196 16 3.21429 16H12.5C12.5223 16 12.5595 15.9702 12.6116 15.9107C12.6711 15.8437 12.7269 15.7433 12.779 15.6094C12.8311 15.468 12.8571 15.3155 12.8571 15.1518ZM5.35714 3.14286H10.3571L9.82143 1.83705C9.76935 1.77009 9.7061 1.72917 9.6317 1.71429H6.09375C6.01935 1.72917 5.9561 1.77009 5.90402 1.83705L5.35714 3.14286ZM15.7143 3.5V4.21429C15.7143 4.31845 15.6808 4.40402 15.6138 4.47098C15.5469 4.53795 15.4613 4.57143 15.3571 4.57143H14.2857V15.1518C14.2857 15.7693 14.1109 16.3013 13.7612 16.7478C13.4115 17.2016 12.9911 17.4286 12.5 17.4286H3.21429C2.72321 17.4286 2.30283 17.2091 1.95313 16.7701C1.60342 16.3385 1.42857 15.814 1.42857 15.1964V4.57143H0.357143C0.252976 4.57143 0.167411 4.53795 0.100446 4.47098C0.0334821 4.40402 0 4.31845 0 4.21429V3.5C0 3.39583 0.0334821 3.31027 0.100446 3.2433C0.167411 3.17634 0.252976 3.14286 0.357143 3.14286H3.8058L4.58705 1.27902C4.69866 1.00372 4.89955 0.769345 5.18973 0.575893C5.47991 0.38244 5.77381 0.285713 6.07143 0.285713H9.64286C9.94048 0.285713 10.2344 0.38244 10.5246 0.575893C10.8147 0.769345 11.0156 1.00372 11.1272 1.27902L11.9085 3.14286H15.3571C15.4613 3.14286 15.5469 3.17634 15.6138 3.2433C15.6808 3.31027 15.7143 3.39583 15.7143 3.5Z" fill="#3059EC"/>
                    </svg>
                    <a class="font-medium text-md mx-2 text-blue-600 dark:text-blue-500">Delete</a>
                    @Html.Partial("_ConfirmDeletePartial", new ConfirmDeleteViewModel
                    {
                      Id = p.val.Id,
                      Type = "đối tác",
                      Name = p.val.PartnerName,
                      ActionName = "Delete",
                      ActionController = "Partner"
                    })
                  </div>
                </div>
              </td>
            </tr>
          }
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
@Html.Partial("_Pagination", new PaginationViewModel { CurrentPage = Model.CurrentPage, TotalPage = Model.TotalPages, PageSize = Model.PageSize, HasNext = Model.HasNext, HasPrevious = Model.HasPrevious, TotalItem = Model.TotalCount })

@section Scripts
{
  <script>
        $(document).ready(function (){
            const partnerIds = @(Json.Serialize(Model.Data.Select(x => x.QrCodeId).ToList()))
            partnerIds.forEach(id => {
                    const qrcode = new QRCode(document.getElementById(`partner-qrcode-${id}`), {
                     text: id,
                     width: 128,
                     height: 128,
                     colorDark : "#000000",
                     colorLight : "#ffffff",
                     correctLevel : QRCode.CorrectLevel.H
                });     
            })
        })
        
    </script>
}